<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
     .btn_countinue
     {background-color: #0a662e;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px;
    cursor: pointer;
    color: #FFF;
    border-radius: 25px;
    
     }
     .btn_countinue:hover
{
    border: 1px solid #0a662e;
    background-color: #FFF;
    color: black;
    border-radius: 25px;
}
  </style>
  <body style="overflow: hidden;">
      <div style="background-color: #838588;  height: 760px;">
          <div>
            <div class="container">
              <div class="row">
                <div class="col-lg-10 offset-lg-2">
                  <div class="row">
                    <div class="col-lg-9" style="background-color: #FFF; border: #0a662e 1px solid  ; margin-top: 100px; height: 400px;">
                          <div style="display: flex; flex-direction: column;">
                            <center><img src="../Images/logo.jpg" width="200px"></center>
                            <div  style="display: flex; flex-direction: row;  align-items: center; margin-top: 25px; justify-content: center;">
                              <i style="color: #0a662e ; font-size: 85px; margin-right: 50px;" class="fas fa-check-circle  "></i>
                              <div>
                              <h4 style="margin-left: 10px;">Cảm ơn bạn đã đặt hàng</h4  >
                              <p style="margin-left: 10px;">Hàng sẽ chuyển đến bạn trong vòng 24 giờ</p>
                              </div>
                            </div>
                            <!-- <div style="margin-top: 50px;">
                              <h5 style="color: #0a662e;">Thông tin khách hàng</h5>
                              <table style=" margin-top: 25px; border: 0.5px black solid;">
                                <tr >
                                  <td style=" width:  350px;" ><p style="font-weight: bold;">Họ tên : </p></td>
                                  <td  style=" width:  350px;">dsadsadsadas </td>
                                </tr>
                                <tr style=" height: 60px;">
                                  <td style=" width:  350px;"> <p style="font-weight: bold;">Số điện thoại :</p>  </td>
                                  <td  style=" width:  350px;"></td>
                                </tr>
                                <tr  style=" height: 60px;">
                                  <td style=" width:  350px;"> <p style="font-weight: bold;">Địa chỉ :</p>  </td>
                                  <td style=" width:  350px;" ></td>
                                </tr>
                              </table>
                            </div> -->
                            <div style="margin-top: 50px;">
                            <center><a style="text-decoration: none;" href="./Home.php" class="btn_countinue">Tiếp tục mua hàng</a></center>
                          </div>
                          </div>       
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>